.device { position: relative; width: 100%; aspect-ratio: 1300 / 2642; container-type: inline-size; }
.body { position: absolute; inset: 0 0.76923%; background: #000; border: 0.384615cqw solid #9d9d9d; border-radius: 16.40625% / 7.94852%; box-sizing: border-box; box-shadow: 0 30px 60px -20px rgb(0 0 0 / 45%); }
.primary, .highlight, .bezel { pointer-events: none; }
.island, .antenna { pointer-events: none; }
.primary { position: absolute; inset: 0; border: 1cqw solid #f7f7f7; border-radius: 16.14173% / 7.78875%; }
.highlight { position: absolute; inset: 0.03846cqw 0 0; border: 0.384615cqw solid #dfdedb; border-radius: 16.22% / 7.83%; filter: blur(0.115385cqw); }
.bezel { position: absolute; inset: 1.384615cqw; border: 0.153846cqw solid #646464; border-radius: 15.15397% / 7.20339%; opacity: .8; filter: blur(0.076923cqw); }
.screen { position: absolute; inset: 3.846154cqw; overflow: hidden; border-radius: 14.102564% / 6.516588%; background: var(--screen-bg, #fff); }
.island { position: absolute; z-index: 3; left: 50%; top: 6.923077cqw; transform: translateX(-50%); width: 28.461538cqw; height: 8.307692cqw; border-radius: 99px; background: #000; }
.buttons span { position: absolute; width: .769231%; border-radius: .153846cqw; background: linear-gradient(#2d2e2a, #dedede 12%, #fafaf8 50%, #dedede 88%, #2d2e2a); border: .076923cqw solid #9d9d9d; }
.action { left: 0; top: 20.36336%; height: 3.67146%; }
.volumeUp { left: 0; top: 27.51703%; height: 7.64572%; }
.volumeDown { left: 0; top: 37.13096%; height: 7.64572%; }
.power { right: 0; top: 30.20439%; height: 11.88494%; }
.antenna span { position: absolute; background: #ededed; opacity: .3; mix-blend-mode: screen; }
.antenna span:nth-child(1), .antenna span:nth-child(3) { left: -.384615cqw; width: 1.384615cqw; height: 1.230769cqw; }
.antenna span:nth-child(2), .antenna span:nth-child(4) { right: -.384615cqw; width: 1.384615cqw; height: 1.230769cqw; }
.antenna span:nth-child(1), .antenna span:nth-child(2) { top: 20.153846cqw; }
.antenna span:nth-child(3), .antenna span:nth-child(4) { top: 181cqw; }
.antenna span:nth-child(5) { top: -.384615cqw; left: 78cqw; width: 1.230769cqw; height: 1.384615cqw; }
.antenna span:nth-child(6) { bottom: -.230769cqw; left: 19.846154cqw; width: 1.230769cqw; height: 1.384615cqw; }
